$spades: black;
$hearts: red;
$clubs: black;
$diamonds: red;

$colors: (
  "spades": $spades,
  "hearts": $hearts,
  "clubs": $clubs,
  "diamonds": $diamonds,
);

$card-height: 160px;
$card-selected-displacement: 20px;
